/app/bin/Debug/tt.exe
/app/bin/Debug/tt.exe.config
/app/bin/Debug/tt.pdb
/app/bin/Debug/tt.vshost.exe
/app/bin/Debug/tt.vshost.exe.config
/app/bin/Debug/tt.vshost.exe.manifest
/app/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/app/obj/Debug/TaggingTools.csproj.FileListAbsolute.txt
/app/obj/Debug/TaggingTools.csprojResolveAssemblyReference.cache
/app/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/app/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/app/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/app/obj/Debug/tt.exe
/app/obj/Debug/tt.pdb
/app/taggingTools.v11.suo
